<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="browser" value="chrome" />
	<parameter name="browserPath"
		value="./src/main/chromedriver.exe" />
	<test thread-count="1" name="Test">
		<classes>
			<class name="testPackages.TestClass"/>
			<!--<class name="BroadwayAssignmentRojal.BroadwayAssignmentRojal.AppTest"/> -->
			<!--<class name="testPackages.BaseTestClass" /> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->



